* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    background-color: #34353a;
    color: rgb(233, 233, 233);
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

header,
main,
section,
footer {
    padding: 0.5rem;
}

/* Header */
.header {
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
}

/* Hero img mackground */
.hero {
    height: 50vh;
    background-image: url("/img/pexels-neo-2653362.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* flex container */
.hero-container,
.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.container>* {
    padding-bottom: 0.2rem;
}

/* alig items in flex container */
.flex-center {
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.flex-items {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.skill-card {
    width: 10rem;
    height: 11rem;
    background-color: #2e2f34;
    -webkit-box-shadow: 0px 0px 10px -6px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 10px -6px rgb(0, 0, 0);
    box-shadow: 0px 0px 10px -6px rgb(0, 0, 0);
    margin: 1rem 1rem;
}

.skill-card:hover {
    -webkit-box-shadow: 0px 0px 29px -6px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 29px -6px rgb(0, 0, 0);
    box-shadow: 0px 0px 29px -6px rgb(0, 0, 0);
}

.skill-card>* {
    padding: 50% 0;
}

/* Logo */
.logo {
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    overflow: hidden;

}

.menu a {
    display: block;
    padding: 1.5rem;
    color: white;
    text-align: center;
}

.menu a:hover {
    background-color: rgb(132, 92, 0);
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

/* Style label tag */

.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

/* Style span tag */

.hamb-line::before,
.hamb-line::after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

#portfolio {
    background-color: #2e2f34;
    height: 50vh;
}

i:hover {
    color: rgb(193, 193, 193);
}

/* Footer */
footer {
    background-color: #34353a;
}

.footer-position {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-position>* {
    margin-bottom: 0.5rem;
}

i {
    margin-right: 0.5rem;
}

.contacts,
.socials {
    text-align: center;
    margin-bottom: 0.7rem;
}

.contacts,
.socials>* {
    margin-bottom: 0.4rem;
}


/* Responsiveness */
@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--gray);

    }

    .hamb {
        display: none;
    }

    .flex-items {
        flex-direction: row;

    }

    #portfolio {
        height: 25vh;
    }

    .footer-position {
        flex-direction: row;
    }

    .contacts {
        flex-grow: 2;
        text-align: center;
    }

    .socials {
        flex-grow: 1;
    }

    i {
        font-size: 1.2rem;
    }
}